dist: trusty
language: shell

services:
  - docker

env:
  global:
    - PHP_VERSION=7.2
  jobs:
    - TYPO3_VERSION=^10.4
    - TYPO3_VERSION=^10.4 PHP_VERSION=7.4
    - TYPO3_VERSION=^9.5
    - TYPO3_VERSION=^9.5 PHP_VERSION=7.4
    - TYPO3_VERSION=^8.7
    - TYPO3_VERSION=^8.7 PHP_VERSION=7.4

script:
  - docker-compose run --rm app composer build

after_script:
  - docker-compose down --volumes

jobs:
  include:
    - stage: deploy
      name: Deploy to TER
      if: tag IS present
      script: docker-compose run --rm app composer deploy:ter

notifications:
  slack:
    secure: TPgLYBAyIa6V6RT3YqndCnpkiifnY01ehmPrhVHU3G3yC4e4PtnqftgCrg8D4IBbmlVTxncNbsDqNbFfBEaJ1dMv6tv0yMpYlllfN5Syl3nBcjh43rHN4DWEffgJ59dAhJJtWjHvPfYR1/80EdKzsmepQl1i1+CXH1ryxtS6jEU=
