<f:layout name="Default"/>
<f:section name="main">

<f:flashMessages />

<f:form.validationResults>
  <f:if condition="{validationResults.flattenedErrors}">

    <div class="alert alert-danger">
      <p><f:translate key="resetPassword.errors">There where some errors with your input:</f:translate></p>
      <ul class="errors">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
          <li><f:translate key="{propertyPath}">{propertyPath}</f:translate>: {errors.0}</li>
        </f:for>
      </ul>
    </div>

  </f:if>
</f:form.validationResults>

    <f:form
      action="completePasswordEdit"
      class="password-edit form-inline">

      <f:render partial="Form/TextField" arguments="{
        fieldName: 'password',
        fieldType: 'password',
        translationKey: 'password',
        defaultLabel: 'Password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

      <f:render partial="Form/TextField" arguments="{
        fieldName: 'passwordRepeat',
        fieldType: 'password',
        translationKey: 'passwordRepeat',
        defaultLabel: 'Repeat password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

      <f:render partial="Form/SubmitButton" arguments="{
        translationKey: 'action.changePassword',
        defaultLabel: 'Change password'
      }"/>

    </f:form>

</f:section>
