<f:layout name="Default"/>
<f:section name="main">

<f:flashMessages renderMode="div"/>

<form
  method="post"
  onsubmit="{submitJavaScript}"
  class="login form-inline">

  <input type="hidden" name="logintype" value="login"/>
  <input type="hidden" name="pid" value="{settings.userStoragePage}"/>
  <f:format.raw>{additionalHiddenFields}</f:format.raw>

  <f:render partial="Form/TextField" arguments="{
    fieldName: 'user',
    fieldType: 'text',
    fieldValue: formData.user,
    translationKey: 'username',
    defaultLabel: 'Username'
  }"/>

  <f:render partial="Form/TextField" arguments="{
    fieldName: 'pass',
    fieldType: 'password',
    translationKey: 'password',
    defaultLabel: 'Password'
  }"/>

  <f:render partial="Form/SubmitButton" arguments="{
    translationKey: 'action.login',
    defaultLabel: 'Log in'
  }"/>

  <p>
    <f:link.action
      action="showPasswordResetForm"
      arguments="{start: 1}"
      pageUid="{settings.passwordReset.page}">
      <f:translate key="action.resetPassword">Reset password</f:translate>
    </f:link.action>
  </p>

</form>

</f:section>
