<f:layout name="Default"/>
<f:section name="main">

<f:flashMessages renderMode="div"/>

<f:form.validationResults>
  <f:if condition="{validationResults.flattenedErrors}">

    <div class="alert alert-danger">
      <p><f:translate key="resetPassword.errors">There where some errors with your input:</f:translate></p>
      <ul class="errors">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
          <li><f:translate key="{propertyPath}">{propertyPath}</f:translate>: {errors.0}</li>
        </f:for>
      </ul>
    </div>

  </f:if>
</f:form.validationResults>

<f:if condition="{hash}">
  <f:then>

    <f:form
      action="completePasswordReset"
      class="password-reset form-inline">

      <f:form.hidden name="hash" value="{hash}"/>

      <f:render partial="Form/TextField" arguments="{
        fieldName: 'password',
        fieldType: 'password',
        translationKey: 'password',
        defaultLabel: 'Password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

      <f:render partial="Form/TextField" arguments="{
        fieldName: 'passwordRepeat',
        fieldType: 'password',
        translationKey: 'passwordRepeat',
        defaultLabel: 'Repeat password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

      <f:render partial="Form/SubmitButton" arguments="{
        translationKey: 'action.changePassword',
        defaultLabel: 'Change password'
      }"/>

    </f:form>

  </f:then>
  <f:else>

    <f:form
      action="startPasswordReset"
      class="password-reset form-inline">

      <f:render partial="Form/TextField" arguments="{
        fieldName: 'username',
        fieldType: 'text',
        translationKey: 'username',
        defaultLabel: 'Username',
        inline: true
      }"/>

      <f:render partial="Form/SubmitButton" arguments="{
        translationKey: 'action.resetPassword',
        defaultLabel: 'Reset password'
      }"/>

      <p>
        <f:link.action
          action="showLoginForm"
          pageUid="{settings.login.page}">
          <f:translate key="action.backToLogin">Back to login</f:translate>
        </f:link.action>
      </p>

    </f:form>

  </f:else>
</f:if>

</f:section>
