<f:layout name="Default"/>
<f:section name="main">

<f:flashMessages renderMode="div"/>

<form
  action="{f:uri.page(pageUid: settings.login.page)}"
  method="post"
  class="logout form-inline">

  <input type="hidden" name="logintype" value="{logintype}"/>

  <f:render partial="Form/Static" arguments="{
    translationKey: 'login.status',
    defaultLabel: 'Currently logged in as:',
    text: user.username
  }"/>

  <f:render partial="Form/SubmitButton" arguments="{
    translationKey: 'action.logout',
    defaultLabel: 'Log out'
  }"/>

</form>

</f:section>