<f:layout name="Default"/>
<f:section name="main">

<f:if condition="{loginSuccessful}">
<f:render partial="Message" arguments="{
  type: 'success',
  translationKey: 'login.successful',
  arguments: '{0: user.username}'
}"/>
</f:if>

<form
  method="post"
  class="logout form-inline">

  <input type="hidden" name="logintype" value="{logintype}"/>

  <f:render partial="Form/Static" arguments="{
    translationKey: 'login.status',
    defaultLabel: 'Currently logged in as:',
    text: user.username
  }"/>

  <f:render partial="Form/SubmitButton" arguments="{
    translationKey: 'action.logout',
    defaultLabel: 'Log out'
  }"/>

</form>

</f:section>