<f:layout name="Default"/>
<f:section name="main">

<f:if condition="{loginFailed}">
<f:render partial="Message" arguments="{
  type: 'danger',
  translationKey: 'login.failed'
}"/>
</f:if>

<form
  method="post"
  onsubmit="{submitJavaScript}"
  class="login form-inline">

  <input type="hidden" name="logintype" value="login"/>
  <input type="hidden" name="pid" value="{settings.userStoragePage}"/>
  <f:format.raw>{additionalHiddenFields}</f:format.raw>

  <f:render partial="Form/TextField" arguments="{
    fieldName: 'user',
    fieldType: 'text',
    fieldValue: formData.user,
    translationKey: 'username',
    defaultLabel: 'Username'
  }"/>

  <f:render partial="Form/TextField" arguments="{
    fieldName: 'pass',
    fieldType: 'password',
    translationKey: 'password',
    defaultLabel: 'Password'
  }"/>

  <f:render partial="Form/SubmitButton" arguments="{
    translationKey: 'action.login',
    defaultLabel: 'Log in'
  }"/>

</form>

</f:section>
