<f:layout name="Default" />
<f:section name="main">

  <f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
      <f:then>
        <f:render partial="Form/ValidationErrors" arguments="{validationResults: validationResults}" />
      </f:then>
      <f:else>
        <f:flashMessages />
      </f:else>
    </f:if>
  </f:form.validationResults>

  <f:form
    action="completePasswordEdit"
    class="password-edit form-inline">

    <f:render partial="Form/TextField" arguments="{
        fieldName: 'password',
        fieldType: 'password',
        translationKey: 'password',
        defaultLabel: 'Password',
        additionalAttributes: {data-rsa-encryption: ''}
      }" />

    <f:render partial="Form/TextField" arguments="{
        fieldName: 'passwordRepeat',
        fieldType: 'password',
        translationKey: 'passwordRepeat',
        defaultLabel: 'Repeat password',
        additionalAttributes: {data-rsa-encryption: ''}
      }" />

    <f:render partial="Form/SubmitButton" arguments="{
        translationKey: 'action.changePassword',
        defaultLabel: 'Change password'
      }" />

  </f:form>

</f:section>
