<f:layout name="Default" />
<f:section name="main">

  <f:flashMessages />

  <f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
      <f:render partial="Form/ValidationErrors" arguments="{flattenedErrors: validationResults.flattenedErrors}" />
    </f:if>
  </f:form.validationResults>

  <f:form
    action="updatePassword"
    class="password-edit form-inline">

    <f:render partial="Form/TextField" arguments="{
        fieldName: 'password',
        fieldType: 'password',
        translationKey: 'password',
        defaultLabel: 'Password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

    <f:render partial="Form/TextField" arguments="{
        fieldName: 'passwordRepeat',
        fieldType: 'password',
        translationKey: 'passwordRepeat',
        defaultLabel: 'Repeat password',
        additionalAttributes: {data-rsa-encryption: ''}
      }"/>

    <f:render partial="Form/SubmitButton" arguments="{
        translationKey: 'action.changePassword',
        defaultLabel: 'Change password'
      }"/>

  </f:form>

</f:section>
