<div class="alert alert-{type} {f:if(condition: sticky, then: '', else: 'alert-dismissible')}" role="alert">

  <f:if condition="{sticky}">
    <f:then></f:then>
    <f:else>
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
    </f:else>
  </f:if>

  <f:if condition="{translationKey}">
    <f:then>
      <f:translate key="{translationKey}" arguments="{arguments}">{text}</f:translate>
    </f:then>
    <f:else>
      <f:format.printf arguments="{arguments}">{text}</f:format.printf>
    </f:else>
  </f:if>

</div>